- content_for :pageheader do
  = col num: 6 do
    = image_tag 'harbour-crane.png', width: 300
  = col num: 6 do
    = jumbotron do
      %h1=HarbourCrane::Application::NAME
      %p= HarbourCrane::Application::DESCRIPTION
      %p= "v#{ HarbourCrane::Application::VERSION }"

%br
= row do
  = col num: 12 do
    %h2 Docker infos
    = card do
      - Docker.version.each do |k,v|
        %b= "#{ k }:"
        = "#{ v }"
        %br

    %h2 Docker
    = card do
      - Docker.info.each do |k,v|
        - unless v.blank?
          %b= "#{ k }:"
          = "#{ v }"
          %br
