%h1= glyph_and_text HarbourCrane::Application::Glyph::CONTAINER, "Containers listing"
%p List of containers running in your server
%br
= button_link 'Refresh', glyph: 'refresh', url: containers_path
= button_link '(Safe) Delete', { status: :danger, glyph: 'trash', url: destroy_unused_containers_path }, { title: 'Delete unused containers'}
%br
%br
%table.table
  %tr
    %th Container ID
    %th Image
    %th Command
    %th Created at
    %th Status
    %th.container_ports Ports
    %th Names
    %th Actions
  - @containers_presenter.each do |container_presenter|
    %tr
      %td= container_presenter.display_id
      %td= container_presenter.display_image
      %td= container_presenter.command
      %td= container_presenter.created_at
      %td= container_presenter.status
      %td= container_presenter.ports
      %td= container_presenter.names
      %td
        - unless container_presenter.image.proxy? || container_presenter.image.administration?
          = link_to glyph('eye'), container_path(container_presenter.container.id)
          - if container_presenter.container.can_start?
            = link_to glyph('play'), start_container_path(container_presenter.container.id)
          - if container_presenter.container.can_stop?
            = link_to glyph('square'), stop_container_path(container_presenter.container.id)
          = link_to glyph('trash'), container_path(container_presenter.container.id), data: { method: :delete, confirm: 'Are you sure?'}
