%h1= glyph_and_text App::GLYPH, "Apps listing"
%p List of apps in your server
%br
= row do
  = col num: 6 do
    = button_link 'Refresh', status: :primary, glyph: 'refresh', url: apps_path
    = button_link 'New App', status: :primary, glyph: 'plus-circle', url: new_app_path
  = col num: 6 do
    = button_link 'Relaunch all running apps', status: :danger, glyph: 'share', url: relaunch_apps_path
    = button_link 'Stop all', status: :primary, glyph: 'stop-circle', url: stop_all_apps_path
    = button_link 'Run all', status: :primary, glyph: 'play-circle', url: start_all_apps_path
%br
%br
%table.table
  %tr
    %th Actions
    %th Name
    %th Description
    %th Image
    %th State
    %th Created At
    %th Actions
  - @apps.each do |app|
    %tr
      %td
        = button_group size: :sm, class: 'upstart-action' do
          = button_link '', { glyph: 'play', url: start_app_path(app.id), state: app.running? ? :disabled : :default }, { title: 'Start' }
          = button_link '', { glyph: 'stop', url: stop_app_path(app.id),  state: app.running? ? :default : :disabled }, { title: 'Stop' }
          = button_link '', { glyph: 'refresh', url: restart_app_path(app.id), state: app.running? ? :default : :disabled }, { title: 'Restart' }
      %td= [app.name, app.proxy? ? etiquette('Proxy', status: :danger) : nil].compact.join(' ').html_safe
      %td= app.description
      %td= app.image
      %td= app.state
      %td= app.created_at
      %td
        = dropdown 'Action', glyph: 'ellipsis-v', size: :xs do |d|
          - d.header 'App actions'
          - d.link 'Edit', glyph: 'pencil', url: edit_app_path(app.id)
          - d.link 'Show', glyph: 'eye', url: app_path(app.id)
          - d.link 'Delete', { glyph: 'trash', url: app_path(app.id) }, { method: :delete, data: { confirm: 'Are you sure?' }}
          - d.divider
          - d.header 'Database actions'
          - d.link 'Drop', { glyph: 'trash', url: db_drop_app_path(app.id) }, { title: 'rails|rake db:drop', data: { confirm: 'Do you really want drop the database?' }}
          - d.link 'Create', { glyph: 'plus-circle', url: db_create_app_path(app.id) }, { title: 'rails|rake db:create', data: { confirm: 'Do you really want create the database?'} }
          - d.link 'Migrate', { glyph: 'share', url: db_migrate_app_path(app.id) } , { title: 'rails|rake db:migrate', data: { confirm: 'Do you really want create the database?'} }
          - d.link 'Seed', { glyph: 'th-list', url: db_seed_app_path(app.id) }, { title: 'rails|rake db:seed', data: { confirm: 'Do you really want create the database?'} }
          - d.link 'Import', { state: :disabled, glyph: 'th-list', url: db_seed_app_path(app.id) }, { title: 'rails|rake db:console <', data: { confirm: 'Do you really want create the database?'} }
          - d.link 'Export', state: :disabled, glyph: 'th-list', url: db_seed_app_path(app.id)
          - d.divider
          - d.header 'Other'
          - d.link 'Console', glyph: 'terminal', state: :disabled, url: '#'
