%h1= glyph_and_text App::GLYPH, "Apps listing"
%p List of apps in your server
%br
%br
= button_link 'Refresh', state: :success, glyph: 'refresh', url: apps_path
= button_link 'New App', state: :primary, glyph: 'plus-circle', url: new_app_path
%br
%br
%table.table
  %tr
    %th Actions
    %th Name
    %th Description
    %th Image
    %th State
    %th Created At
    %th Actions
  - @apps.each do |app|
    %tr
      %td
        = button_group size: :xs, class: 'upstart-action' do
          = button_link '', { glyph: 'play', url: start_app_path(app.id), size: :lg, status: app.running? ? :disabled : :default }, { title: 'Start' }
          = button_link '', { glyph: 'stop', url: stop_app_path(app.id), size: :xs, status: app.running? ? :default : :disabled }, { title: 'Stop' }
          = button_link '', { glyph: 'refresh', url: restart_app_path(app.id), size: :xs, status: app.running? ? :default : :disabled }, { title: 'Restart' }
      %td= app.name
      %td= app.description
      %td= app.image
      %td= app.state
      %td= app.created_at
      %td
        = link_to glyph('pencil'), edit_app_path(app.id)
        = link_to glyph('eye'), app_path(app.id)
        = link_to glyph('trash'), app_path(app.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
