%h1= glyph_and_text App::GLYPH, "Apps listing"
%p List of apps in your server
%br
%br
= button_link 'New App', state: :primary, glyph: 'plus-circle', url: new_app_path
%br
%br
%table.table
  %tr
    %th Actions
    %th Name
    %th Description
    %th State
    %th Created At
    %th Editions
  - @apps.each do |app|
    %tr
      %td
        = button_link '', { glyph: 'play', url: start_app_path(app.id), size: :lg, status: app.running? ? :disabled : :default }, { title: 'Start' }
        = button_link '', { glyph: 'stop', url: stop_app_path(app.id), size: :xs, status: app.running? ? :default : :disabled }, { title: 'Stop' }
        = button_link '', { glyph: 'refresh', url: restart_app_path(app.id), size: :xs, status: app.running? ? :default : :disabled }, { title: 'Restart' }
      %td= app.name
      %td= app.description
      %td= app.state
      %td= app.created_at
      %td
        = link_to glyph('pencil'), edit_app_path(app.id)
        = link_to glyph('eye'), app_path(app.id)
        = link_to glyph('trash'), containers_path
