%h1 Apps#index
%p Find me in app/views/apps/index.html.haml

= button_link 'New App', state: :primary, glyph: 'plus-circle', url: new_app_path
%br
%br
%table.table
  %tr
    %th Name
    %th Description
    %th Actions
  - @apps.each do |app|
    %tr
      %td= app.name
      %td= app.description
      %td
        = link_to glyph('pencil'), edit_app_path(app)
        = link_to glyph('eye'), containers_path
        = link_to glyph('trash'), containers_path
