%h1= glyph_and_text HarbourCrane::Application::Glyph::APP, "New app"

= simple_form_for @app do |f|
  = col num: 6 do
    = f.input :name, placeholder: 'My app name'
  = col num: 6 do
    = f.input :slug, placeholder: 'my-app-name'
  = col num: 12 do
    = f.input :description, as: :text, placeholder: 'My description'

  = col num: 6 do
    = f.input :author, placeholder: 'Harbour Crane'
  = col num: 6 do
    = f.input :ports, placeholder: '3001:3000', readonly: true, input_html: { value: "#{ 3000 + App.all.count + 1 }:3000" }

  = col num: 6 do
    = f.input :image, placeholder: 'myname/myapp', input_html: { list: 'toto', autocomplete: 'off' }
    %datalist{ id: 'toto'}
      - Image.all.each do |image|
        %option{ value: image.names.join(', ') }
  = col num: 6 do
    = f.input :virtual_host, placeholder: 'myapp.domain.com'

  = col num: 12 do
    %label Volumes
    .ui-bibz-clear

  = col num: 12 do
    .form-group.volumes.optional
      .input-group
        %span.input-group-addon.path= "/srv/docker/my-app-name/storage/"
        %input{ placeholder: "my-dir", type: "text", class: "volume_1 extra_text optional form-control" }
        %span.input-group-addon.separator= ":"
        %input{ placeholder: "/usr/src/app/public/system/", type: "text", class: "volume_2 extra_text optional form-control" }
      = f.input :volumes, label: false, as: :hidden

  = col num: 12 do
    = f.input :environment

  .ui-bibz-clear

  = col num: 12 do
    = card tap: true do |p|
      - p.header 'Import files'
      - p.block do
        = f.input :compose_file, as: :file, hint: 'docker-compose.yml'
    = button 'Submit', state: :primary
