%h1= glyph_and_text('shopping-cart', 'Store')
%p List of applications in the store
%br
%br
= button_link 'Refresh', state: :success, glyph: 'refresh', url: images_path
%br
%br
%table.table
  %tr
    %th Application ID
    %th Name
    %th Description
    %th Created at
    %th Virtual Size
    %th Actions
  %tr
    %td 1
    %td MyApp
    %td 2016-02-23 15:06:42 UTC
    %td MyApp
    %td
      = link_to glyph('eye'), store_path(store.infos.id)
      = link_to glyph('download'), store_path(store.infos.id), :method => :download

  /*- @stores.each do |store|
    %tr
      %td= store.id
      %td= store.names
      %td= store.created_at
      %td= store.size
      %td
        = link_to glyph('eye'), store_path(store.infos.id)
        = link_to glyph('download'), store_path(store.infos.id), :method => :download
