%h1 Images
%p List of images

%table.table
  %tr
    %th Image ID
    %th Name:Tag
    %th Created at
    %th Virtual Size
    %th Actions
  - @images.each do |image|
    %tr
      %td= image.info["id"][0..12]
      %td= image.info["RepoTags"].join(', ')
      %td= image.info["Created"]
      %td= image.info["Size"]
      %td
        = link_to glyph('pencil'), containers_path
        = link_to glyph('eye'), containers_path
        = link_to glyph('trash'), containers_path
