%h1= glyph_and_text HarbourCrane::Application::Glyph::IMAGE, "Images listing"
%p List of images in your server
%br
%br
= button_link 'Refresh', state: :success, glyph: 'refresh', url: images_path
%br
%br
%table.table
  %tr
    %th Image ID
    %th Name:Tag
    %th Created at
    %th Virtual Size
    %th Actions
  - @images.each do |image|
    %tr
      %td= image.id
      %td= image.names
      %td= image.created_at
      %td= image.size
      %td
        - unless image.infos.proxy? || image.infos.administration?
          = link_to glyph('eye'), image_path(image.infos.id)
          = link_to glyph('trash'), image_path(image.infos.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
