!!!
%html
  %head
    %title= HarbourCrane::Application::NAME
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = favicon_link_tag 'black-crane.ico'
  %body
    = navbar do |nv|
      - nv.brand url: root_url do
        = image_tag 'grey-crane.png'
        = HarbourCrane::Application::NAME
      - nv.nav do |n|
        - n.link 'Apps', url: apps_path, status: active_link('apps')
        - n.link 'Images', url: images_path, status: active_link('images')
        - n.link 'Containers', url: containers_path, status: active_link('containers')
        - n.link 'Store', url: store_path, status: active_link('store')
        - n.link 'Proxy', url: proxy_path, status: active_link('proxy')
        - n.link 'About', url: about_path, status: active_link('about')
        - n.link 'Settings', url: settings_index_path, status: active_link('settings')
    - if controller_name == 'home'
      .pageheader
        = container do
          = yield :pageheader
    = container class: 'content', type: :fluid do
      = render "layouts/flash_messages"
      = yield
