!!!
%html
  %head
    %title= HarbourCrane::Application::NAME
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = navbar title: HarbourCrane::Application::NAME do |nv|
      - nv.nav do |n|
        - n.link 'Apps', url: apps_path
        - n.link 'Images', url: images_path
        - n.link 'Containers', url: containers_path
        - n.link 'Proxy', url: proxy_path
    - if controller_name == 'home'
      .pageheader
        .container
          = yield :pageheader
      .container
        = yield
    - else
      .container
        = yield



